.menuNav {
	height: 40%;
	width: 0px;
	position: fixed;
	z-index: 99;
	top: 0px;
	background-color: #878787;
	overflow-x: hidden;
	padding-top: 50px;
	transition: 0.8s;
	transition-timing-function: ease;
}

.links a {
	padding: 8px 10px;
	font-size: 25px;
	color: #000000;
	display: block;
	border-left: 6px solid darkcyan;
	background-color: lightgrey;
	text-decoration: none;
	transition: 0.3s;
}

/* when the link is clicked */
.links a:active {
	background-color: #b8d8db;
}

.menuNav .closeButton {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 45px;
	color: black;
	text-decoration: none;
}

.openButton {
	width: 30px;
	height: 3px;
	background-color: black;
	margin: 7px;
	z-index: 99;
}
